# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.mvn
out
gen
logs
logs/*.log
/springcloud-nacos-consumer/mvnw
springcloud-eureka-client/pdf/
springcloud-eureka-client/src/main/java/com/bmsoft/controller/FileUtil.java
springcloud-eureka-client/word/
springcloud-nacos-consumer/
springcloud-nacos-discovery/src/
springcloud-nacos-discovery/target/
springcloud-service-zuul/src/main/java/com/bmsoft/controller/
/springcloud-nacos-consumer/mvnw.cmd
